body{
    margin: 0%;
}
.main {
    background-color: #EEF4F8;
    height: 64px;
    display: flex;          
    align-items: center;    
    gap: 10px;              
    padding-left: 20px;     
    width: 100%; 
    margin: 0px; 
}

#logo {
    width: 36px;
    height: 36px;
}

#headtext {
    color: #003B5C;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 0;
    font-style: normal;
    width: 268px;
    word-wrap: break-word;
}